<li>
    <p class="comment" id="comment-<%= comment._id %>">
        <% if((locals.user) && (locals.user.id==comment.user.id)){ %>
            <small>
                <a href="/comments/destroy/<%= comment.id %>" class="delete-comment-button">X</a>
            </small>
            <% } %>
                <%= comment.content %>
                    <br>
                    <small>
                        <%= comment.user.name %>
                    </small>
    </p>
    <div class="comment-stats flex valign">
        <span class="comment-count">0</span>
        <img
            src="https://img.icons8.com/external-those-icons-fill-those-icons/24/000000/external-like-feedback-those-icons-fill-those-icons.png" />
    </div>
</li>