#home-container {
    height: 100%;


    #feed-posts {
        width: 70%;
        padding: 10px;

    }

    #user-friends {
        width: 30%;
        padding: 10px;
        border-left: 1px solid lightgray;

    }

    #posts-list-container .post {
        margin-top: 40px;
    }
}

.post {
    background-color: rgb(236, 236, 236);
    padding: 10px;
}

#layout__main {
    padding-bottom: 60px;
}