<div style="background-color: white; color: black">
    <p>Hi! <%= comment.user.name %>
    </p>
    <br>

    <p>Your comment :</p>
    <p>
        <%= comment.content %>
    </p>

    <p>Thanks</p>
</div>