@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Urbanist:wght@700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 100vh; }
  body #layout__main {
    display: flex;
    flex-direction: column;
    align-items: center; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }

.flex {
  display: flex; }

.halign {
  justify-content: center; }

.valign {
  align-items: center; }

.space-between {
  justify-content: space-between; }

.pd-lg {
  padding-left: 20px;
  padding-right: 20px; }

#posts-list-container li {
  margin: 50px 0; }
  #posts-list-container li .post-comments-list {
    margin-top: 25px; }

.comment {
  margin-top: 6px; }
